{# Sous template Twig #}
{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container">
        <h1>A propos</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In bibendum nunc lectus, sed tincidunt turpis ullamcorper ut. Vivamus pulvinar consectetur lectus, sed egestas sem semper in. Nullam at ultricies nunc. Nunc vel vestibulum lectus. Morbi eu nisi quis diam ornare malesuada eu ut sapien. Morbi ultrices, magna vel cursus posuere, ligula magna convallis nisl, ut varius risus lacus et urna. In euismod sollicitudin egestas. Sed convallis magna aliquet consectetur dictum. Fusce dignissim efficitur metus. Integer laoreet mi ipsum, sit amet efficitur enim fringilla id. </p>
        <p>{{ base_url() }}</p>
    </div>
{% endblock %}{# empty Twig template #}
