{# Twig template #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <!-- Prendre en compte le view port -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>php-slim3-skeleton</title>
        <meta name="description" content="">
        <meta name="keywords" content="slim3, micro-framework">
        <meta name="author" content="Franck Blanchard">

        <!-- Insertion d'une feuille de style 
        <link rel="stylesheet" href="styles.css">
        -->

    </head>

    <body>
        {% block content %} {% endblock %}
    </body>

</html>